[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/local/bin/seven-control-configurator
Icon=veyon-configurator
Terminal=true
Name=Seven Control Configurator
Comment=Configure Seven Control
Categories=Qt;Education;Network;Settings;System;RemoteAccess;
